<!doctype html>
<html lang="es">
  <head>
    <meta charset=utf-8 />
    <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans&display=swap" rel="stylesheet">
    <link href="assets/css/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
    <link href="assets/css/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
    <link type="image/png" sizes="16x16" rel="icon" href="assets/favicon/icons8-applicant-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="assets/favicon/icons8-applicant-32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="assets/favicon/icons8-applicant-96.png">
  </head>
  <body>
    <div id="main">
      <div id="content">
      {{ content }}
      </div>
    </div>
  </body>
</html>